html{
	background: url("images/bw_arts_tower.jpeg");
	background-size: cover;
}

header {
  text-align: center;
  color: black;
	font-family: 'Playfair Display', serif;
}

nav{
  background-color: white;
}

body, html {
    height: 100%;
    color: black;
    line-height: 1.8;
    text-align: center;
		font-family: 'Playfair Display', serif;
	}

ul{
padding: 10px;
background: rgba(0,0,0,0.5);
font-size: 20px;
font-family: 'Playfair Display', serif;
text-align: center;
}

li {
display: inline;
color: white;
padding: 0px 15px 0px 15px;
}

nav{
  background-color: #white;
	display: inline;
}

h1{
	margin:0;
	font-size: 50px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
}

h2{
  margin: 0;
	font-size: 30px;
	font-family: 'Playfair Display', serif;
	font-weight: normal;
	color: white;
}

h3{
	margin: 0;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
	color: white;
}

h4{
	margin: 0;
	font-size: 15px;
	font-family: 'Playfair Display', serif;
  font-weight: normal;
}

@media (max-width: 500px) {
  h1 {font-size: 36px;
  }
  li {display: block;
      padding: 5px;
  }
}

.w3-center {
  font-family: 'Playfair Display', serif;
}

.rounded-circle {
    padding: 3px;
    width: 150px;
    height: 150px;
		border-radius: 50%;
}


.first{
	height: auto;
  background-size: contain;
  position: relative;
  margin: 5% 5% 5% 5%;
  border-radius: 12px;
	background-color: black;
	opacity: 0.9;
	padding: 2%;
	width: 35%;
	float: left;
}

.second{
	height: auto;
  background-size: contain;
  position: relative;
  margin: 5% 5% 5% 5%;
  border-radius: 12px;
	background-color: black;
	opacity: 0.9;
	padding: 2%;
	width: 35%;
	float: right;

}
