
html{
	background: url("images/bw_arts_tower.jpeg");
	background-size: cover;
}

header {
  text-align: center;
  color: black;
	font-family: 'Playfair Display', serif;
}


body, html {
    height: 100%;
    color: black;
    line-height: 1.8;
    text-align: center;
	}

ul{
padding: 10px;
background: rgba(0,0,0,0.5);
opacity: 100%;
font-size: 20px;
font-family: 'Playfair Display', serif;
text-align: center;
}

li {
display: inline;
color: white;
opacity: 100%
padding: 0px 15px 0px 15px;
font-family: 'Playfair Display', serif;
}

nav{
  background-color: white;
}

h1{
	margin:0;
	font-size: 50px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
}

h2{
  margin: 0;
	font-size: 30px;
	font-family: 'Playfair Display', serif;
	font-weight: normal;
}

h3{
	margin: 0;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

h4{
	margin: 0;
	font-size: 15px;
	font-family: 'Playfair Display', serif;
  font-weight: normal;
}


@media (max-width: 100%) {
h1 {font-size: 36px;
}
li {display: block;
    padding: 5px;
}
}


/* Create a Parallax Effect */

/* First image (Logo. Full height) */


.container{
	position: relative;
	display: grid;
}

.w3-hover-opacity {
  cursor: pointer;
	display: grid;
  width:  150px;
  height: 150px;
  padding: 3px;
  border-radius: 50%;
  position: relative;
}

.example{
	display: grid;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  width: 150px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(1,1,1,0.3);
  border-radius: 50%;
}

.example:hover .overlay {
  opacity: 1;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
	font-family: 'Playfair Display', serif;
}

.w3-center{
	font-family: 'Playfair Display', serif;
}



.w3-row-padding.w3-center {
	position: relative;
	text-align: center;
	display: grid;
}
