

header {
	text-align: center;
	color: black;
}

body,h1,h2,h3,h4,h5,h6 {font-family: 'Playfair Display', serif;}
body, html {
	height: 100%;
	color: black;
	line-height: 1.8;
	text-align: center;
}

ul{
	padding: 10px;
	background: rgba(0,0,0,0.5);
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	text-align: center;
}

li {
	display: inline;
	color: white;
	padding: 0px 15px 0px 15px;
}

nav{
	background-color: #white;
}

h1{
	margin:0;
	font-size: 50px;
	font-family: 'Playfair Display', serif;
}

h2{
	margin: 0;
	font-size: 30px;
	font-family: 'Playfair Display', serif;
	font-weight: normal;
}

h3{
	margin: 0;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	font-weight: normal;
}

h4{
	margin: 0;
	font-size: 15px;
	font-family: 'Playfair Display', serif;
	font-weight: normal;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}
.fa:hover {
	opacity: 0.7;
}
